MONGO_URI=mongodb://localhost:27017/creditcards
CRON_SCHEDULE=12
GET_PRODUCTS_HEADERS={"x-v":"4","Accept":"application/json"}
GET_PRODUCT_DETAIL_HEADERS={"x-v":"4","Accept":"application/json"}
DEFAULT_X_V=4
X_V_RETRY_FROM=3
X_V_RETRY_TO=4
PORT=3000
